.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  justify-content: center;
  margin: auto;
  row-gap: 20px;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
nav ul li {
  float: left;
  margin:15px 30px
}

#rate_header {
  text-align: center;
  margin:40px;
  font-size: 30px;
}

#calc_result {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  margin:20px
}
#results {
  margin: 10px 20px 20px 10px
}
#results p {
  font-size: 20px;
}
#notes {
  margin:10px 20px 20px 10px 
}
#notes p {
  font-size: 15px;
}

#return_btn {
  margin: 30px
}

p {
  font-size: medium;
}



#title {
  text-align: center;
  margin:20px
}

#intro_div p {
  text-align: center;
}

.add_rate_title {
  margin:30px;
}
#calc_function {
  margin: 30px;
  justify-content: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
